<div class="container">
  <div class="col-md-5 btn-create-lesson">
    <div class="col-md-6">
      <%= form_for :lesson, remote: true  do |f| %>
        <%= render "shared/error_messages", object: @lesson %>
        <%= f.submit t(".create_lesson"),
          class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="list-lessons"><%= t ".list_lessons" %></h3>
  <table class="table table-striped tbl-lessons">
    <thead>
      <tr>
        <th><%= t ".created_at" %></th>
        <th><%= t "name" %></th>
        <th><%= t ".status" %></th>
        <th><%= t "duration" %></th>
        <th><%= t "word_per_lesson" %></th>
        <th><%= t ".spent_time" %></th>
        <th><%= t ".score" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="list-lesson">
      <%= render @lessons %>
    </tbody>
  </table>
</div>
