<div class="filter-word">
  <%= form_tag words_path, method: :get, remote: true do %>
    <div class="col-md-2">
      <%= select_tag :category_id,
        options_for_select(@categories, :category_id),
        include_blank: t(".all_categories"), class: "form-control" %>
    </div>
    <% Settings.option.each do |key, value| %>
      <div class="col-md-2">
        <div class="col-md-2 radio">
          <%= radio_button_tag :option, value,
            checked = (params[:option] == value || params[:option].blank?) %>
          <div class="radio_fix"><%= value %></div>
        </div>
      </div>
    <% end %>
    <div class="col-md-4">
      <%= submit_tag yield(:button_text), class: "btn btn-primary btn-search" %>
    </div>
  <% end %>
</div>