<div class="container all-categories">
  <% provide :button_text, t("search") %>
  <%= render "search_form" %>
  <h3 class="list-category">All categories</h3>
  <table class="table table-striped tbl-categories">
    <thead>
      <tr>
        <th><%= t "name" %></th>
        <th><%= t "duration" %></th>
        <th><%= t "word_per_lesson" %></th>
      </tr>
    </thead>
    <tbody class="list-category">
      <%= render @categories %>
    </tbody>
  </table>
</div>
